body {
    background-color: #f8f9f4;

}

.orange {
    color: orange;
    font-size: 40px;
    display: inline;
}
#main{
    
    
    line-height: 200%;
}
#main img{
    width: 300px;
}
#main div{
    color: white;
    background:  #0f6878;
    width:500px;
    margin-bottom: 40px;
    padding:20px;
}
.orange_bold {
    color: orange;
    font-weight: bold;
}