* {
    margin: 0;/* 마진 초기화*/
}
div{
    width: 300px;
    border: solid 2px #aaaaaa;
    padding:30px;
    border-radius: 15px;
    margin: 20px 0 0 20px;
}
h3{
    border-bottom: solid 1px #cccccc;
    padding-bottom: 8px;
}
p{
    line-height: 180%;
    border-bottom: dashed 1px #cccccc;
    padding: 10px 0;
}
h4{
    text-align: right;
    font-weight: auto;
    margin-top: 10px;
}
a:hover{
    color:orange;
}
