* {
    margin:0;
    padding:0;

}
h3 {
    padding: 20px;
}
div {
    width:500px;
    border:solid 1px black;
    margin:20px 0 0 20px;
}
div img{
    width:500px;
}
p {
    padding:10px;
    line-height: 180%;
}